@page
@model DTFWebApp.Pages.Produtos.DetailModel
@{
}


<form method="get">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nome" class="control-label">Código do Produto</label>
                <input type="text" class="form-control" id="ID" name="ID" placeholder="Informe o Código do Produto a ser pegar" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
</form>


        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">@Html.DisplayFor(model => Model.Produto.nome)</h1>
                <img class="mx-auto d-block" src="@Html.DisplayFor(model => Model.Produto.imagem)"
                     alt="Imagem do @Html.DisplayFor(model => Model.Produto.nome)" />
            </div>
            <hr />
            <div class="col-md-6">
                <h3>Marca: @Html.DisplayFor(model => Model.Produto.marca)</h3>
            </div>
            <div class="col-md-6">
                <h3>Categoria: @Html.DisplayFor(model => Model.Produto.categoria)</h3>
            </div>
            <div class="col-md-6">
                <h3>Tamanho: @Html.DisplayFor(model => Model.Produto.tamanho)</h3>
            </div>
            <div class="col-md-6">
                <h3>Descrição: @Html.DisplayFor(model => Model.Produto.descricao)</h3>
            </div>
            <div class="col-md-6">
                <h3>Quantidade: @Html.DisplayFor(model => Model.Produto.quantidade)</h3>
            </div>
            <div class="col-md-6">
                <h3>Valor: @Html.DisplayFor(model => Model.Produto.valor)</h3>
            </div>
            <div class="col-md-6">
                <h3>Status: @Html.DisplayFor(model => Model.Produto.status)</h3>
            </div>
        </div>

        <div class="row">
            <a class="btn btn-outline-primary" asp-page="/Produtos/Edit" asp-route-id="@Model.Produto.ID">Editar</a>
            <a class="btn btn-outline-danger" asp-page="/Produtos/Delete" asp-route-id="@Model.Produto.ID">Deletar</a>
        </div>
